= title("Sign in")
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .clearfix
    .input
      %ul.inputs-list
        %li= f.input :username
        %li= f.input :password, :as => :password
        - if devise_mapping.rememberable?
          %li= f.input :remember_me, :as => :boolean, :label => t("devise.sessions.user.remember_me")
        %li= f.submit t("devise.links.sign_in")
= render :partial => "/users/shared/links"
