-#= title("Sign in")
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .clearfix
    = f.input :username
    = f.input :password, :as => :password
    - if devise_mapping.rememberable?
      %ul.inputs-list
        %li
          %label
            = f.check_box :remember_me
            %span= t("devise.sessions.user.remember_me")

    = render :partial => "/users/shared/links"
    .actions
      = f.submit t("devise.links.sign_in")
