= render :partial => "/layouts/title", :locals => { :title => "Sign in" }
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .clearfix
    .input
      %ul.inputs-list
        %li
          = f.label :username
          = f.text_field :username
        %li
          = f.label :password
          = f.password_field :password
        - if devise_mapping.rememberable?
          %li
            = f.label :remember_me
            = f.check_box :remember_me

    .actions
      %p= f.submit "Sign in", :class => 'btn primary'

= render :partial => "devise/shared/links"
