= simple_form_for @job do |f|
  .clearfix
    = f.error_messages
    / = f.association :user, :collection => [current_user], :label_method => :email, :value_method => :id
    = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
    = f.input :title
    = f.input :desc, :label => "Description"
    = f.association :organization, :collection => current_user.organizations, :include_blank => false
    = f.input :begin_date, :as => :date
    = f.input :end_date, :as => :date
    -#= f.input :begin_time, :as => :time, :label => "Begin Time (optional)"
    -#= f.input :end_time, :as => :time, :label => "End Time (optional)"
    = f.button :submit

-## == Schema Information
-##
-## Table name: jobs
-##
-##  id              :integer(4)      not null, primary key
-##  user_id         :integer(4)
-##  organization_id :integer(4)
-##  title           :string(255)
-##  desc            :text
-##  location        :text
-##  requirement     :text
-##  contact         :string(255)
-##  hours           :integer(4)
-##  hours_period    :string(255)
-##  begin_date      :date
-##  end_date        :date
-##  begin_time      :time
-##  end_time        :time
-##  created_at      :datetime
-##  updated_at      :datetime