- title "Organizations"

%table.zebra-striped
  %thead
    %tr
      %th Title
      %th Description
      %th Organization
      %th Start Date
      %th End Date
      %th Action
  %tbody
  - for job in @jobs
    %tr
      %td= job.title
      %td= job.desc
      %td= job.organization.name
      %td= job.begin_date
      %td= job.end_date

      %td= link_to 'Show', job
      / %td= link_to 'Edit', edit_job_path(job)
      / %td= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete

- if current_user.try(:organization?)
  %p= link_to "New Job", new_job_path