<% title "Jobs" %>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Desc</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% for job in @jobs %>
    <tr>
      <td><%= job.user_id %></td>
      <td><%= job.name %></td>
      <td><%= job.desc %></td>
      <td><%= job.start_date %></td>
      <td><%= job.end_date %></td>
      <td><%= link_to "Show", job %></td>
      <td><%= link_to "Edit", edit_job_path(job) %></td>
      <td><%= link_to "Destroy", job, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Job", new_job_path %></p>
