- title "Organizations"

%table.zebra-striped
  %thead
    %tr
      %th= t("simple_form.labels.job.title")
      %th= t("simple_form.labels.job.desc")
      %th= t("simple_form.labels.job.school_name")
      %th= t("simple_form.labels.job.period")
      %th= t("simple_form.labels.job.begin_date")
      %th= t("simple_form.labels.job.end_date")
      %th= t("simple_form.labels.job.action")
  %tbody
  - for job in @jobs
    %tr
      %td= job.title
      %td= truncate(job.desc, :length => 80)
      %td= job.organization.name
      %td= job.period
      %td= job.begin_date
      %td= job.end_date
      %td= link_to t("simple_form.labels.job.show"), job


- if is_school_admin?
  %p= link_to t("simple_form.labels.job.add_new"), new_job_path, :class => "primary btn"