= simple_form_for @user do |f|
  = f.error_messages
  = f.input :email
  = f.input :first_name
  = f.input :last_name
  = f.input :birth_year
  = f.input :phone_number, :as => :tel
  = f.input :zip_code
  = f.input :password, :as => :password
  = f.input :password_confirmation, :as => :password
  = f.button :submit
  
