= simple_form_for @user do |form|

  -if @user.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this #{User.name.titleize} from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :name, :label => 'Name'
  = form.input :email, :label => 'Email'
  = form.input :encrypted_passwd, :label => 'Encrypted Passwd'
  = form.input :salt, :label => 'Salt'

  .actions
    = form.button :submit