= simple_form_for @user do |f|
  = f.error_messages
  = f.input :email
  = f.input :first_name
  = f.input :last_name

  -#= f.association :user, :collection => [current_user], :label_method => :email, :value_method => :id
  -#= f.association :roles, :as => :check_boxes


  = f.button :submit
  
