= simple_form_for @user do |f|
  .clearfix
    = f.error_messages
    = f.input :first_name
    = f.input :last_name
    = f.input :gender, :collection => ['男', '女'], :as => :select
    = f.input :birth_year, :collection => (Date.today.year - 90)..(Date.today.year - 12)
    = f.input :home_phone, :as => :tel, :input_html => { :placeholder => "範例: 02-1234-5678" }
    = f.input :cell_phone, :as => :tel, :input_html => { :placeholder => "範例: 0910123456" }
    = f.input :zip_code
    = f.input :degree, :collection => ['中學以下', '高中, 高職', '專科', '大學', '研究所'].reverse, :as => :select
    = f.input :skills
    -#= f.input :password, :as => :password
    -#= f.input :password_confirmation, :as => :password
    .actions
      = f.submit t("ui.user_profile.update")
  
