= simple_form_for @user do |f|
  = f.error_messages
  = f.input :email, :hint => "If you changed your email, please use the new email to login"
  = f.input :name
  = f.input :date_of_birth, :as => :date, :start_year => Date.today.year - 50,
                                :end_year => Date.today.year - 12,
                                :order => [:day, :month, :year]
  = f.input :phone_number, :as => :tel
  = f.input :zip_code
  = f.input :password, :as => :password
  = f.input :password_confirmation, :as => :password
  = f.button :submit
  
