%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Encrypted passwd:
  = @user.encrypted_passwd
%p
  %b Salt:
  = @user.salt

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
