= simple_form_for @organization do |f|
  = f.error_messages
  -#= radio_button_tag :org, :create, true
  -#%b Create a new organization
  -##new_org
  -#  = f.input :name, :input_html => {:class => "new_org"}
  -#  = f.input :profile, :as => :text
  -#  = f.input :contact
  -#  = f.input :city, :collection => cities_helper, :include_blank => false
  -#  = f.input :district#, :collection => districts_helper("台北市")
  -#  = f.input :zipcode
  -#  = f.input :address
  -#  -#= f.input :category
  -#or
  -#%br
  / = radio_button_tag :org, :pick
  #existing_org
    = f.input :id, :label => 'Organization' do
      = f.select :id, Organization.all.map { |o| [o.name]}, {:include_blank => false}, {:class => "existing_org"}
  = f.submit 'Associate'