= simple_form_for @organization do |f|
  = f.error_messages
  = f.input :name
  = f.input :profile, :as => :text
  = f.input :webpage
  = f.input :address
  = f.input :district
  = f.input :city
  = f.input :zipcode
  = f.input :contact
  = f.submit t("ui.school.submit")