- title "Organizations"

%table.zebra-striped
  %thead
    %tr
      %th Name
  %tbody
  - for organization in @organizations
    %tr
      %td= organization.name
      %td= link_to 'Show', organization
      %td= link_to 'Edit', edit_organization_path(organization)
      %td= link_to 'Destroy', organization, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Organization", new_organization_path
