!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    -#= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
    = javascript_include_tag "application"
    -#= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js'
    = csrf_meta_tag
    = yield(:head)

  %body
    .topbar{"data-scrollspy" => "scrollspy"}
      .fill
        .container
          = link_to "iDream", root_path, :class => "brand"
          .nav
            %ul
              - if user_signed_in?
                %li= link_to "Sign out", destroy_user_session_path
                %li= link_to "Profile", edit_user_path(current_user)
                %li.dropdown{"data-dropdown" => "dropdown"}
                  %a.dropdown-toggle
                    Manage Jobs
                  %ul.dropdown-menu
                    - if user_signed_in? and can? :create, Job
                      %li= link_to "Post Volunteer Jobs", new_job_path
                    %li= link_to "Find Volunteer Jobs", jobs_path
                - if current_user.try(:organization?)
                  %li= link_to "Manage Organizations", user_organization_admins_path(current_user)

              - else
                %li= link_to "Sign up", new_user_registration_path
                %li= link_to "Sign in", new_user_session_path

              - if current_user.try(:admin?)
                -#%li= link_to "Admin", "/admin"
          - if user_signed_in?
            %a.greeting
              Hi,
              = current_user.name
              !



    .container
      .content
        .row
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message #{name}"
          = yield
