!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    -#= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
    = javascript_include_tag "application"
    -#= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js'
    = csrf_meta_tag
    = yield(:head)

  %body
    .topbar{"data-scrollspy" => "scrollspy"}
      .fill
        .container
          = link_to "iDream", root_path, :class => "brand"
          .nav
            %ul
              %li= link_to t("ui.navigation.job.browse_jobs"), jobs_path
              - if user_signed_in?
                - if user_signed_in? and can? :create, Job
                  %li= link_to t("ui.navigation.job.post_jobs"), new_job_path
                -#%li.dropdown{"data-dropdown" => "dropdown"}
                  %a.dropdown-toggle
                    = t("ui.navigation.job.manage_jobs")
                  %ul.dropdown-menu


                - if current_user.try(:organization?)
                  %li= link_to t("ui.navigation.manage_schools"), user_organization_admins_path(current_user)

                %li= link_to t("ui.navigation.profile"), edit_user_path(current_user)
                %li= link_to t("ui.navigation.sign_out"), destroy_user_session_path

              - else
                %li= link_to t("ui.navigation.sign_up"), new_user_registration_path
                %li= link_to t("ui.navigation.sign_in"), new_user_session_path

              - if current_user.try(:admin?)
                %li= link_to "Admin", "#"
          - if user_signed_in?
            %a.greeting
              Hi,
              = current_user.first_name
              !

    .container
      .content
        .row
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message #{name}" unless msg.blank?
          = yield
      -#%footer
        © iDream team 2011
