!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    -#= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
    = javascript_include_tag "application"
    -#= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js'
    = csrf_meta_tag
    = yield(:head)

  %body
    .container
      .span-24.large
        %span Header
        %nav
          %ul
            - if user_signed_in?
              %li
                Welcome
                = current_user.email
                |
              %li
                = link_to "Sign out", destroy_user_session_path
                |
              %li
                = link_to "Account Settings", edit_user_path(current_user)
                |
              - if current_user.try(:organization?)
                %li= link_to "Manage Organizations", ""
                |
            - else
              %li
                = link_to "Sign up", new_user_registration_path
                or
                = link_to "Sign in", new_user_session_path

            - if current_user.try(:admin?)
              %li
                = link_to "Admin", "/admin"
                |
          %ul
            %li
              = link_to "Home", root_path
              |
            - if user_signed_in? and can? :create, Job
              %li
                = link_to "Post Volunteer Works", new_job_path
                |
            %li
              = link_to "Find Volunteer Works", jobs_path
              |
            %li
              %a Help
              |
            %li
              %a About us
              |

        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        - if show_title?
          %h1= yield(:title)

        #content
          = yield
      .span-24 Footer
