= title("Sign up")

= simple_form_for @user do |f|
  .clearfix
    .input
      %ul.inputs-list
        %li= f.input :volunteer, :label => "Voluntter"
        %li= f.input :organization, :label => "School Admin"
        %li= f.input :email
        %li= f.input :username
        %li= f.input :password, :as => :password
        %li= f.input :password_confirmation, :as => :password
        -#%li= f.input :first_name
        -#%li= f.input :last_name
        -#%li= f.input :birth_year
        -#%li= f.input :phone_number, :as => :tel
        -#%li= f.input :zip_code

    .actions
      %p= f.submit "Sign in", :class => 'btn primary'

-#= render :partial => "devise/shared/links"
