= title("Sign up")

= simple_form_for @user do |f|
  .clearfix
    .input
      %ul.inputs-list
        %li
          = f.input :volunteer, :label => t("simple_form.labels.user.volunteer")
          = f.input :organization, :label => t("simple_form.labels.user.school_admin")
        %li
          = f.input :first_name
          = f.input :last_name
        %li= f.input :username
        %li= f.input :email
        %li= f.input :password, :as => :password
        %li= f.input :password_confirmation, :as => :password
        -#%li= f.input :first_name
        -#%li= f.input :last_name
        -#%li= f.input :birth_year
        -#%li= f.input :phone_number, :as => :tel
        -#%li= f.input :zip_code

    .actions
      %p= f.submit t("ui.navigation.sign_up"), :class => 'btn primary'

-#= render :partial => "devise/shared/links"
