%h2 Sign up

= simple_form_for @user do |f|
  = devise_error_messages!
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.association :roles, :collection => User.role_list, :as => :radio
  = f.button :submit, "Sign up"

= render :partial => "devise/shared/links"
